<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" maxBufferPoolSize="100000000"
                    maxBufferSize="100000000" maxReceivedMessageSize="100000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.30.250/wcfGps/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="wcfGps.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>