<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="prueba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="prueba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <prueba.Properties.Settings>
            <setting name="prueba_ws_lisa_WS_Lisa" serializeAs="String">
                <value>http://192.168.1.230/wslisa/WSLISAERP.asmx</value>
            </setting>
            <setting name="prueba_ws_wop_Pos" serializeAs="String">
                <value>http://192.168.1.230/wspos/pos.asmx</value>
            </setting>
            <setting name="prueba_apws0109_Pws0109" serializeAs="String">
                <value>http://192.168.1.230:8090/lisainterfazsqln/servlet/apws0109</value>
            </setting>
        </prueba.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <prueba.Properties.Settings>
            <setting name="pathXml" serializeAs="String">
                <value>d:\xmlArchivo</value>
            </setting>
            <setting name="pathXml_bak" serializeAs="String">
                <value>d:\xmlArchivo_Bak</value>
            </setting>
            <setting name="pathEmail" serializeAs="String">
                <value>d:\prueba.txt</value>
            </setting>
            <setting name="pdfbak" serializeAs="String">
                <value>d:\PDF_Bak</value>
            </setting>
            <setting name="htmlbak" serializeAs="String">
                <value>d:\HTML_Bak</value>
            </setting>
        </prueba.Properties.Settings>
    </userSettings>
</configuration>